@media print {
    @page {
	margin: 0;
    }

    #footer {
	float: bottom
    }

    #news a {
	display: none
    }

    #primary-nav {
	font-size: 12px;
	width: 60%;
    }

    #news {
	padding-top: 20px
    }

    #news ul li {
	display:none
    }

    #news ul li:first-child {
	display: inline
    }
}

html, body { height: 100% }
#wrapper { min-height: 100%; margin-bottom: -2.8em }
#wrapper:after { display: block; content: " "; padding-bottom: 2.8em }

body {
    color: #333;
    background: #fff;
    font: medium/150% Arial, sans-serif;
    margin: 0;
    padding: 0
}

pre { line-height: 130% }

code.syntax-block { display: block; line-height: 1.3 }

h1, h2, h3, h4 {
    font-family: Georgia, serif;
    margin: 1em 0
}

h1 { font-size: 175% }
h2 { font-size: 150% }
h3 { font-size: 117% }
h4 { font-size: 100% }

p, ul, ol { margin: 1.5em 0 }

ul, ol, li {
    margin-left: 0;
    padding-left: 0
}

ul { padding-left: 20px }

a { text-decoration: none }
a:hover { text-decoration: underline }
a:focus { outline: thin dotted }
a:hover, a:active { outline: 0 }
a img { border: none }

.num {
    float: left;
    margin-left: -10%;
    width: 8%;
    text-align: right
}

/* main style */

.main {
    padding-top: 1px;
    margin-bottom: 2em
}

/* horizontal alignment */

.main, #header-inner, #intro-inner, #footer-inner, #preamble-inner {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px
}

.col1 {
    width: 45em;
    max-width: 75%
}

/* header style */

#header {
    color: #fff;
    height: 80px;
    position: relative;
    z-index: 1;
    background: #421642 url("../images/header2.jpg") repeat-x;
    margin: 0 auto
}

#header-inner {
    position: relative;
    padding-top: 16px;
    height: 87px
}

/* intro style */

#intro {
    color: #42403d;
    text-shadow: 0 1px 0 rgba(255,255,255,.60);
    padding: 1.7em 0
}

#intro h1 {
    margin: 0;
    float: left
}

.home #intro h1 { float: none }

#tabs ul {
    margin: 0;
    margin-top: -4px;
    padding: 0;
    float: right
}

#tabs li {
    display: inline-block;
    float: left;
    margin-left: 2em;
    position: relative;
    top: 3px
}

#tabs li a {
    opacity: 0.6;
    color: #515151;
    padding: 6px 0;
    font-weight: bold;
    font-size: 90%;
}

#tabs li a:hover {
    opacity: 1;
    text-decoration: none
}

#tabs li a.curr {
    opacity: 1
}

/* footer style */

#footer {
    color: white;
    background: #421642;
    padding-top: 0.8em;
    padding-bottom: 2em
}

#footer-nav {
    font-size: 83%;
    margin: 0;
    padding: 0
}

#footer-nav li {
    display: block;
    float: left;
    border-right: 1px white solid;
    margin-right: 1em;
    padding-right: 1em
}

#footer-nav li:last-child { border-right: none }

#footer-nav a:link, #footer-nav a:visited { color: white }

#footer-copy {
    font-size: 83%;
    float: right;
    margin: 0
}

/* primary-nav */

#primary-nav {
    font-weight: bold;
    position: absolute;
    margin: 0;
    padding-right: 3em;
    right: 0;
    top: 0
}

#primary-nav ul { margin: 0; padding: 0 }

#primary-nav li {
    display: block;
    float: left;
    margin-left: 3.5em;
}

#primary-nav li a:link, #primary-nav li a:visited {
    color: #fff;
    display: inline-block;
    height: 50px;
    padding-top: 30px
}

#primary-nav li a.curr {
    background: transparent url("../images/pointer.png") center bottom no-repeat
}

#primary-nav li a:hover, #primary-nav li a:active {
    color: #6bae1b;
    text-decoration: none
}

.warning b {
    color: red;
}
.warning:before {
    content: "Note: ";
    color: red;
    font-weight: bold;
}

/* section-nav */

#section-nav ul { padding: 0 }

#section-nav li { display: block }

#section-nav li.curr::before {
    content: "\25b8";
    float: left;
    margin-left: -6.25em;
    width: 5em;
    text-align: right
}

/* grid tables */

table.grid {
    border-collapse: collapse
}

table.grid td {
    border: solid black thin;
    padding: 0.5em
}

/* examples */

.example > div, .example > pre {
    background: rgb(224,224,224);
    margin: 0
}

.example p.label { margin-bottom: 0; font-size: 83% }
