/*
vim: et sw=4 ts=4
*/

//
// The general style of a heading at the top of a page.
//
@mixin page-heading {
    font-weight: normal;
    margin-bottom: 0;
}

@mixin heading {
    font-weight: normal;
}

//
// User guide styles
//
.user-guide ul.toc {
    list-style-type: none;
    padding-left: 20px;
    ul {
        list-style-type: none;
    }
    .at-toggle {
        height: 16px;
        width: 16px;
        float: left;
        margin-left: -28px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    li[aria-expanded="true"] {
        /* list-style-type: disclosure-open; */
        > .at-toggle {
            background-image: url(/images/icon_down.svg);
        }
    }
    li[aria-expanded="false"] {
        /* list-style-type: disclosure-closed; */
        > .at-toggle {
            background-image: url(/images/icon_right.svg);
        }
        > ul {
            display: none;
        }
    }
    li.at-no-children {
        list-style-type: disc;
    }
    *[aria-selected="true"] {
        /* colors from the grid */
        background-color: #e5f6ee;
        outline: #22b573 dashed thin;
    }
}

// Remove highlight from the doc page - it makes no sense to
// highlight when you haven't even started looking at the doc!
.toc-page-frame ul.toc *[aria-selected="true"] {
    background-color: transparent;
    outline: none;
}

section#toc-contents {
    width: 50%;
    float: left;
}
section#toc-appendices {
    width: 50%;
    float: right;
}

section#other-versions {
    clear: both;
    h2 {
        /* the margin collapses so use padding */
        margin-top: 0;
        padding-top: 1.5em;
    }
    ul {
        padding-left: 20px;
        list-style-type: none;
    }
    li.curr::before {
        content: "\25b8";
        float: left;
        margin-left: -15px;
        width: 10px;
        text-align: right;
    }
}

.body-and-footer-container {
    position: fixed;
    height: calc(100% - 50px);
    max-width: 1200px;
    margin: 50px calc(50% - 600px) 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    .toc-page-frame {
        height: 100%;
        flex: 1 1 auto;
        box-sizing: border-box;
        overflow: auto;
    }

    .body-container {
        height: calc(100% - 30px - 1ex);
        margin-top: 0;
        flex: 1 1 auto;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        nav.toc-frame {
            width: calc(300px - 1em);
            flex: 0 1 auto;
            padding-left: 0em;
            padding-right: 1em;
        }
        div.main-frame {
            width: 50%;
            flex: 1 2 auto;
            padding-left: 2em;
            padding-right: 0.5em;
        }
        nav.toc-frame, div.main-frame {
            height: 100%;
            box-sizing: border-box;
            overflow: auto;
        }

    }

    .footer {
        padding: 0.5ex 0 0.5ex;
        margin-top: 0;
        flex: 0 0 auto;
        clear: both;
    }
}

@media all and (max-width: 1200px) {
    .body-and-footer-container {
        position: fixed;
        height: calc(100% - 50px);
        max-width: 1000px;
        margin: 50px calc(50% - 500px) 0px;
    }
}
@media all and (max-width: 1000px) {
    .body-and-footer-container {
        position: relative;
        height: auto;
        max-width: 725px;
        /* 75px is weird, where is the extra 25px? */
        margin: 75px auto 0px;
    }

    .body-and-footer-container, .body-container {
        display: block !important;
    }
    nav.toc-frame {
        float: right;
        width: calc(250px - 1em) !important;
        padding-left: 1em !important;
        padding-right: 0em !important;
        padding-top: 30px;
    }
    .main-frame {
        width: auto !important;
        max-width: 65% !important;
        padding-left: 0.5em !important;
        padding-right: 2em !important;
    }
    nav.toc-frame, .main-frame {
        overflow: visible !important;
    }
    .user-guide div.main-frame *:target {
        padding-top: 20px;
    }
}

.user-guide {
    p {
        margin: 1em 0;
    }

    div.main-frame > section > h1 {
        @include page-heading;
    }

    div.main-frame > section > h2 {
        @include page-heading;
    }

    section {
        h2, h3, h4, h5, h6 {
            @include heading;
        }
        h3, h4, h5, h6 {
            font-weight: bold;
        }
    }

    div.main-frame {
        *:target {
            > h1:first-child, > h2:first-child, > h3:first-child, > h4:first-child, > h5:first-child, > h6:first-child {
                /* colors from the grid */
                background-color: #e5f6ee;
                outline: #22b573 dashed thin;
            }
        }
        // We should also style targets when they are in the grid
        .grid th:target {
            outline: red dashed thin;
        }
    }

    div.example {
        // taken from .white-box from common10.scss
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 10px 30px;
        background: white;
    }

    div.programlisting, div.syntaxlisting, div.screen, div.syntax-block {
        white-space: initial;
        font-family: inherit;
        padding-right: 0px;
        margin-right: 2em;

        /*
         * This should be 80 columns but I don't know why these ems don't
         * work like I expect.
         */
        max-width: 52em;

        /*
         * This hack causes the div to wait until after any floats that it
         * needs to clear (because of its width) before starting.
         */
        margin-top: 0;
        margin-bottom: 0;
        display: block;

        /*
         * Put a line to the left of the code listing
         */
        margin-left: -1em;
        padding-left: calc(1em - 1px);
        // Color from $wb-heading-color in common10.scss
        border-left: solid #e34f71 2px;

        pre {
            padding: 0px;
            border-radius: 0px;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            overflow: auto;
            width: 100%;
            white-space: pre-wrap;
            strong {
                color: inherit;
            }
        }
    }
    div.syntax-block code {
        padding: 0px;
        border-radius: 0px;
        margin-top: 0px;
        overflow: auto;
        strong {
            color: inherit;
        }
    }
    p.label {
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    pre {
        color: inherit;
        background: inherit;
    }
    code.code {
        white-space: nowrap;
    }
    .userinput {
        font-weight: bold;
    }
    .replaceable {
        font-style: italic;
    }
    var, code {
        font-style: normal;
        font-family: monospace;
    }


    p {
        max-width: 50em;
    }
    p.note:before, p.tip:before {
        font-weight: bold;
        display: block;
        float: left;
        margin-left: -50px;
    }
    p.note:before {
        content: "Note:";
    }
    p.tip:before {
        content: "Tip:";
    }
    p.note, p.tip {
        margin-left: 3.5em;
        max-width: 43em;
    }

    ol, ul {
        padding-left: 0;
        ol, ul {
            padding-left: 20px;
        }
        li {
            max-width: 50em;
        }
        //
        // Demo rules for #lists
        //
        li.inside {
            list-style-position: inside;
        }
        li.outside {
            list-style-position: outside;
        }
        li.upper-alpha {
            list-style-type: upper-alpha;
        }
        li.lower-roman {
            list-style-type: lower-roman;
        }
    }

    dl.variablelist {
        dt span.term {
            font-weight: bold;
        }
    }
    dt {
        margin-top: 1em;
        margin-bottom: 0.7em;
    }
    dd {
        margin-top: 0.7em;
        margin-bottom: 1em;
        margin-left: 2em;
        > :first-child {
            margin-top: 0;
        }
    }

    dl.faq {
        dt p {
            font-weight: bold;
        }
        dd li {
            list-style-position: inside;
        }
    }

    div.itemizedlist {
        max-width: 50em;
    }

    div.figure, div.figure-float-right, div.figure-float-left,
    div.table-float-right, div.table-float-left,
    div.example {
        div.title {
            font-weight: bold;
            margin: 0 0 0.75em 0;
        }
        img {
            border: thin solid black;
        }
    }
    div.figure-float-right,
    div.figure-float-left,
    div.table-float-right,
    div.table-float-left {
        clear: both;
        margin: 20px;
        padding: 10px;
        background: #F2F2F2;
    }
    div.figure-float-right, div.table-float-right {
        float: right;
    }
    div.figure-float-left, div.figure-float-left {
        float: left;
    }
    div.table, div.table-float-right, div.table-float-left {
        max-width: intrinsic;
        max-width: -moz-fit-content;
        max-width: -webkit-fit-content;
    }
    #fig-croparea, #fig-titlepage, #fig-textbook, #fig-bigtable,
    #fig-slides, #fig-fancyheader, #fig-boxdecorationbreak {
        max-width: 425px;
        width: 33%;
        img {
            width: 100%;
        }
    }
    #fig-marginboxes {
        max-width: 425px;
        width: 40%;
        img {
            width: 100%;
        }
    }

    hr.footnote-hr {
        margin: auto;
    }

    .footer-container {
        clear: both;
    }

    pre.programlisting a:link {
        color: #0071BC;
        /* #99C6E4 works for a dark background */
        text-decoration: underline;
    }

    table {
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 0.2em;
    }
    th {
        text-align: left;
    }
    thead {
        text-align: center;
        font-size: 110%;
    }

    table.separate {
        border-collapse: separate;
    }
    table.collapse {
        border-collapse: collapse;
    }

    table.property-table {
        border: none;
        th, td {
            border: none;
        }
        th {
            white-space: nowrap;
        }
        td {
            padding-left: 2.5em;
        }
    }

    .grid .ext td {
        background-color: #dcede6;
    }
    // make sure examples on SVG page can "breathe"
    .grid + .example {
        margin-top: 20px;
    }

/*
    div.cmdsynopsis {
        @extend pre;
        p {
            max-width: initial;
            line-height: auto;
            font-size: auto;
            color: #FFF;
            font-weight: auto;
            margin: auto;
        }
    }
    */

    .fig-marginboxes-lightgrey {
        background-color: #ccc;
    }
    .fig-marginboxes-yellow {
        background-color: #ff8;
    }
    .fig-marginboxes-red {
        background-color: #f88;
    }
    .fig-marginboxes-green {
        background-color: #8f8;
    }
    .fig-marginboxes-blue {
        background-color: #88f;
    }

    hr {
        margin: auto;
        max-width: auto;
    }
    .footnotes {
        max-width: 50em;

        .footnote {
            margin: 1em 0;
        }
        .fn-number {
            margin: 0;
            width: 29px;
            height: 30px;
        }
        .fn-text {
            margin-left: 30px;
            margin-top: -30px;
        }
    }
    sup {
        line-height: 0;
    }

    section {
        padding-top: 1em;
    }
    section *:last-child {
        margin-bottom: 0;
    }
}

@media all and (max-width: 1200px) {
    #tab-marginboxes {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

